{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    {% javascripts '@AppBundle/Resources/public/js/angular/edycjaApp.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}
  {% block stylesheets %}
    {% stylesheets 'bundles/app/css/table-responsive.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

  {% endblock %}


{% block body %}
<div class="container" id="zawartosc">
  <h1>{{ nazwaMiesiaca }}</h1><h1 id="rok">{{ rok }}</h1>
  <div ng-app="myApp" ng-controller="strazacyCtrl">
    <div class="panel-body table-responsive">
    <table class="table table-striped table-bordered " id="dni">
                <thead>
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Stanowisko</th>
                    <th colspan="3">Poprzedni miesiąc</th>
                    <th ng-repeat="a in rangeActualMonth() track by $index" ng-bind="$index+1"></th>
                    <th>Przydzielone godziny</th>
                    <th>Pozostało</th>
                </tr>
            </thead>
            <tr ng-repeat="strazak in przydzialy">
              <td class="nazwisko" ng-bind="(strazak.Imie)+' '+(strazak.Nazwisko)" ></td>
              <td class="stanowisko" ng-bind="showStanowisko(strazak.Stanowisko)"></td>
              <td class="godziny" ng-repeat="dzien in strazak.dni" ng-bind="dzien.Ilosc_godzin | number:0" ng-click="changeRow(dzien.Ilosc_godzin,$parent.$index,$index);"></td>
              <td class="suma-godzin" ng-bind="countGodziny($index)"></td>
              <td ng-bind="lasts($index)"></td>
            </tr>
            <tr>
              <td class="empty">&nbsp;</td><th class="ustawienia-nazwa">Liczba ludzi</th><td class="ustawienia" ng-repeat="a in range() track by $index" ng-bind="countStrazacy($index)" ng-style="styleUstawienia($index)"></td>
            </tr>
            <tr ng-repeat="stanowisko in stanowiska">
              <td class="empty">&nbsp;</td><th class="ustawienia-nazwa" ng-bind="stanowisko.Nazwa"></th><td class="ustawienia" ng-repeat="a in range() track by $index" ng-bind="countStanowisko(stanowisko.ID,$index)"  ng-style="styleStanowiska(stanowisko.ID,$index)"></td>
            </tr>
            <tr ng-repeat="uprawnienie in uprawnienia">
              <td class="empty">&nbsp;</td><th class="ustawienia-nazwa" ng-bind="uprawnienie.Nazwa"></th><td class="ustawienia" ng-repeat="a in range() track by $index" ng-bind="countUprawnienie(uprawnienie.ID,$index)" ng-style="styleUprawnienia(uprawnienie.ID,$index)"></td>
            </tr>
    </table>
  </div>
    <button type="button" class="btn btn-default" ng-click="send()">Dodaj</button>

    <p id="miesiac" hidden="true">{{ miesiac }}</p> <p id="ostatniDzien" hidden="true">{{ ostatniDzien }}</p>
  </div>
</div>

{% endblock %}
