{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    {% javascripts '@AppBundle/Resources/public/js/angular/edycjaApp.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}


{% block body %}
<div class="container" id="zawartosc">
  <h1>{{ nazwaMiesiaca }}</h1>
  <div ng-app="myApp" ng-controller="strazacyCtrl">
    <div class="panel-body table-responsive">
    <table class="table table-striped table-bordered " id="dni">
            <tr ng-repeat="strazak in przydzialy">
              <td ng-bind="(strazak.Imie)+' '+(strazak.Nazwisko)" ></td>
              <td ng-bind="showStanowisko(strazak.Stanowisko)"></td>
              <td ng-repeat="dzien in strazak.dni" ng-bind="dzien.Ilosc_godzin | number:0" ng-click="changeRow(dzien.Ilosc_godzin,$parent.$index,$index);"></td>
              <td ng-bind="countGodziny($index)"></td>
              <td ng-bind="lasts($index)"></td>
            </tr>
            <tr>
              <td>&nbsp;</td><td>Liczba ludzi</td><td ng-repeat="a in range() track by $index" ng-bind="countStrazacy($index)"></td>
            </tr>
            <tr ng-repeat="stanowisko in stanowiska">
              <td ng-bind="stanowisko.Nazwa"><td>&nbsp;</td></td><td ng-repeat="a in range() track by $index" ng-bind="countStanowisko(stanowisko.ID,$index)"  ng-style="styleStanowiska(stanowisko.ID,$index)"></td>
            </tr>
            <tr ng-repeat="uprawnienie in uprawnienia">
              <td ng-bind="uprawnienie.Nazwa"></td><td>&nbsp;</td></td><td ng-repeat="a in range() track by $index" ng-bind="countUprawnienie(uprawnienie.ID,$index)" ng-style="styleUprawnienia(uprawnienie.ID,$index)"></td>
            </tr>
    </table>
  </div>
    <button type="button" class="btn btn-default" ng-click="send()">Dodaj</button>

    <p id="miesiac">{{ miesiac }}</p> <p id="rok">{{ rok }}</p> <p id="ostatniDzien">{{ ostatniDzien }}</p>
  </div>
</div>

{% endblock %}
