{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" id="zawartosc">
    {% if strazacy == null %}
        <div id="danger" class="alert alert-danger"  role="alert">Brak strażaków w bazie!</div>
        {% else %}

    <h2>Strażacy</h2>
    <div class="panel panel-default">

    <table id="tabelka" class="table table-striped">
      <thead><tr><th>Imię</th><th>Nazwisko</th><th>Stanowisko</th></tr></thead>
        {% for strazak in strazacy %}
        <tr>
          <td> {{ strazak.Imie}} </td><td>{{ strazak.Nazwisko }}</td><td>{{strazak.Nazwa_Stanowiska}}</td><td><a type="button" onclick="edit('{{ strazak.Imie }}','{{ strazak.Nazwisko}}', '{{ strazak.ID }}', '{{ strazak.ID_Stanowiska }}')" class="btn btn-sm btn-warning">Edytuj</a></td>
          <td><a type="button"
          {% if strazak.Aktywny > 0 %}
                class="btn btn-sm btn-success" {% if (ostatniMiesiac == 12) or (ostatniMiesiac == 6) %}
                    href="{{ path('aktywny', {'idStrazaka': strazak.ID, 'aktywny':strazak.Aktywny}) }}"{% else %}disabled
                        {% endif %}>Aktywny</a></td>
          {% else %}
                class="btn btn-sm btn-danger" {% if (ostatniMiesiac == 12) or (ostatniMiesiac == 6) %}
                     href="{{ path('aktywny', {'idStrazaka': strazak.ID, 'aktywny':strazak.Aktywny}) }}" {% else %}disabled
                        {% endif %}> Nieaktywny</a></td>
          {% endif %}

        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% if ostatniMiesiac == 12 or ostatniMiesiac == 6 %}
    <h2 id="dodaj">Dodaj Strażaka</h2><div id="przycisk"></div>
    <form action="{{ path('addStrazak') }}" method="post" name="form" id="form" role="form">
        <div class="form-group">
            <label for="imie">Imię:</label>
            <input type="text" class="form-control" name="imie" id="imie" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="nazwisko">Nazwisko:</label>
            <input type="text" class="form-control" name="nazwisko" id="nazwisko" autocomplete="off">
        </div>
        <fieldset>
          <legend>Wybierz odpowiednie stanowisko (tylko 1)</legend>
          {% if stanowiska != false %}
          {% for stanowisko in stanowiska %}
          <div class="radio">
            <label><input type="radio" name="stanowisko" id="stanowisko" value="{{stanowisko.ID}}" autocomplete="off">{{stanowisko.Nazwa}}</label>
          </div>
          {% endfor %}
          {% endif %}
      </fieldset>
      <fieldset>
        <legend>Wybierz uprawnienia dodatkowe</legend>
        {% if uprawnienia != false %}
        {% for uprawnienie in uprawnienia %}
        <div class="checkbox">
          <label><input type="checkbox" name="uprawnienie[]" id="uprawnienie" value="{{uprawnienie.ID}}" autocomplete="off">{{uprawnienie.Nazwa}}</label>
        </div>
        {% endfor %}
        {% endif %}
    </fieldset>
        <button id="wstaw_button" type="submit" class="btn btn-default">Wstaw</button>
    </form>
    {% else %}
        <div id="danger" class="alert alert-danger"  role="alert">Nie można edytować ani dodawać strażaków w trakcie ustalania nowego grafiku!
          <a type="button" class="btn btn-sm btn-primary" href="{{ path('generateOneAfterOne') }}" >Kontynuuj</a>
        </div>
    {% endif %}
    </div>
    <br>
    <br>


{% endblock %}


{% block javascripts %}

    {% javascripts '@AppBundle/Resources/public/js/showAllStrazacy.js' %}
        <script>var strazak_uprawnienia= {{strazak_uprawnienia|json_encode()|raw}};</script>
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
